@media (min-width: 320px) and (max-width: 767px) {
  ._heading-first {
    font-size: 36px;
    line-height: 44px;
  }

  ._heading-second {
    font-size: 28px;
    line-height: 34px;
  }

  .locations {
    padding-bottom: 0px;
  }

  .locations__paragraph {
    margin-top: 24px;
    width: 345px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.location__heading {
  width: 345px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.locations__ul {
  width: 345px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.locations__download-btn {
  display: block;
  margin-left: auto;
    margin-right: auto;
}

.locations__map-img {
  width: 345px;
  height: 203px;
  display: block;
  margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.locations__collapse-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  text-align: center;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background: #ffffff;
  width: 345px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #808a9b1e;
  box-shadow: 1px -34px 50px 13px #ffffff;
  z-index: 100;
}

._collapsList {
  height: 2314px !important;
  transition: height 1s ease;
}

.locations__collapse-btn-wrapper > button {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3C74FE;
  cursor: pointer;
}

.locations__collapse-btn-wrapper > button:after {
  content: url("/img/pointer-down.svg");
  margin-left: 10px;
  width: 10px;
  height: 10px;
}

.locations__collapse-btn-wrapper > button:hover {
  color: #3C74FE;
}

._pointer-down {
  content: "Show less" !important;
}

._pointer-down:after {
  content: url("/img/pointer-up.svg") !important;
  margin-left: 10px;
}

._bg-light-blue-bradius {
  width: 345px;
  display: block;
  margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 0px;
    height: 513px;
    transition: height 1s ease;
    padding-left: 29px;
    padding-right: 29px;
}

.flag-name-wrapper {
  width: 285px;
}

.server-list {
  padding-bottom: 56px;
}

.server-list__heading {
  text-align: center;
  width: 273px;
  margin-left: auto;
  margin-right: auto;
}

.reasons {
  padding-top: 56px;
  padding-bottom: 56px;
}

.reasons__ul > li {
  width: 328px;
  margin-left: auto;
  margin-right: auto;
}

.reasons__ul {
  margin-left: auto;
  margin-right: auto;
}

.reasons__device-img {
  width: 345px;
  height: 184px;
  margin-top: 32px;
  display: block;
  margin-left: auto;
    margin-right: auto;
}

.benefits {
  padding-top: 56px;
  padding-bottom: 56px;
}

.benefits__card-heading-wrapper {
  width: 345px;
  margin-left: auto;
  margin-right: auto;
}

.benefints__card-text {
  width: 345px;
  margin-left: auto;
  margin-right: auto;
}

.benfits__paragraph {
  margin-bottom: 32px;
}

.benfits__paragraph {
  text-align: left;
  width: 345px;
  margin-left: auto;
  margin-right: auto;
}

.connect {
  padding-top: 56px;
  padding-bottom: 56px;
}

.connect__heading {
  text-align: left;
  width: 345px;
  margin-left:auto;
  margin-right: auto;
}

.connect__paragraph {
  margin-top: 24px;
  margin-bottom: 32px;
  width: 345px;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
}

.connect-card-wrapper {
  padding-top: 20px;
  padding-left: 16px;
  height: 147px;
  margin-bottom: 16px;
}

.connect__card-img {
  float: left;
  width: 60px;
  height: 60px;
  
}

.connect-card-wrapper > ._paragraph {
  width: 254px;
  text-align: left;
}

.connect-card-wrapper > ._heading-third {
    margin-top: 20px;
    margin-bottom: 38px;
    margin-left: -117px;
    width: 300px;
}

.safety {
  padding-top: 56px;
  padding-bottom: 56px;
}

.safety__heading {
  width: 345px;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
}
.safety__paragraph {
  width: 345px;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
}

.safety__second-paragraph {
  width: 345px;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
}

.safety__img {
  width: 345px;
  height: 201px;
  margin-left:auto;
  margin-right: auto;
  display: block;
  margin-top: 32px;
}

.platforms {
  padding-top: 56px;
  padding-bottom: 56px;
}

.platforms__icons {
  flex-wrap: wrap;
  width: 360px;
  margin-left:auto;
  margin-right: auto;
  justify-content: center;
}

.platforms__icon-wrapper > p {
  margin-bottom: 15px;
}

.getVeepn__heading {
  font-size: 28px;
  line-height: 34px;
}


}

