@media (min-width: 768px) and (max-width: 1024px) {
  ._heading-first {
    font-size: 40px;
    line-height: 49px;
  }

  ._heading-second {
    font-size: 32px;
    line-height: 39px;
  }

  .locations__collapse-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    width: 728px;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #808a9b1e;
    z-index: 100;
    height: 64px;
    background: #ffffff;
  }

  ._collapsList {
    max-height: 1185px;
    height: 1185px !important;
    transition: height 1s ease;
  }

  .locations__collapse-btn-wrapper > button {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #3C74FE;
    cursor: pointer;
    /* margin-top: 90px; */
  }

  .locations__collapse-btn-wrapper > button:hover {
    color: #3C74FE;
  }

  .locations__collapse-btn-wrapper > button:after {
    content: url("/img/pointer-down.svg");
    margin-left: 10px;
  }

  ._pointer-down:after {
    content: url("/img/pointer-up.svg") !important;
    margin-left: 10px;
  }

  .location__heading {
    width: 731px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .locations > .container > .row:nth-child(2) {
    width: 731px !important;
    margin-right: auto;
    margin-left: auto;
  }

  .locations__ul > li:last-child {
    width: 309px;
  }

  .locations__map-img {
    width: 420px;
    height: 246px;
    margin-top: 112px;
}

.server-list {
  padding-bottom: 70px;
  padding-top: 48px;
}

.server-list__heading {
  text-align: center;
}

._bg-light-blue-bradius {
  padding-left: 63px;
  padding-right: 78px;
  width: 728px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  height: 382px;
  transition: height 1s ease;
}

.reasons {
  padding-top: 70px;
  padding-bottom: 70px;
}

.reasons__ul {
  margin-top: 14px;
  margin-bottom: 40px;
  margin-left: auto;
}

.reasons__paragraph {
  width: 731px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
}

.reasons__ul > li {
  width: 708px;
  margin-left: auto;
  margin-right: auto;
}

.reasons__device-img {
  margin-top: 0px;
}

.benefits {
  padding-top: 70px;
  padding-bottom: 70px;
}

.benefits__card-heading-wrapper {
  width: 347px;
  margin-left: auto;
  margin-right: auto;
}

.benefints__card-text {
  width: 347px;
  margin-left: auto;
  margin-right: auto;
}

.connect {
  padding-top: 70px;
  padding-bottom: 70px;
}

.connect-card-wrapper {
  width: 220px;
  height: 297px;
}

.connect-card-wrapper > ._paragraph {
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.connect__paragraph {
  width: 731px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.safety {
  padding-top: 70px;
  padding-bottom: 70px;
}

.safety__heading {
  text-align: left;
  width: 731px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.safety__paragraph {
  margin-bottom: 24px;
  width: 731px;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.safety__second-paragraph {
  width: 731px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.safety__img {
  width: 482px;
  height: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.platforms__icons {
  width: 650px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.getVeepn__heading {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-top: 54px;
  width: 498px;
  margin-right: auto;
  margin-left: auto;
}

._light-blue-divider {
  height: 70px;
  background: #E9F3FF;
}

}

